In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df = pd.read_csv('Datasets/bike_buyers.csv')
df

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,12496,Married,Female,40000.0,1.0,Bachelors,Skilled Manual,Yes,0.0,0-1 Miles,Europe,42.0,No
1,24107,Married,Male,30000.0,3.0,Partial College,Clerical,Yes,1.0,0-1 Miles,Europe,43.0,No
2,14177,Married,Male,80000.0,5.0,Partial College,Professional,No,2.0,2-5 Miles,Europe,60.0,No
3,24381,Single,NaN,70000.0,0.0,Bachelors,Professional,Yes,1.0,5-10 Miles,Pacific,41.0,Yes
4,25597,Single,Male,30000.0,0.0,Bachelors,Clerical,No,0.0,0-1 Miles,Europe,36.0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,23731,Married,Male,60000.0,2.0,High School,Professional,Yes,2.0,2-5 Miles,North America,54.0,Yes
996,28672,Single,Male,70000.0,4.0,Graduate Degree,Professional,Yes,0.0,2-5 Miles,North America,35.0,Yes
997,11809,Married,NaN,60000.0,2.0,Bachelors,Skilled Manual,Yes,0.0,0-1 Miles,North America,38.0,Yes
998,19664,Single,Male,100000.0,3.0,Bachelors,Management,No,3.0,1-2 Miles,North America,38.0,No
999,12121,Single,Male,60000.0,3.0,High School,Professional,Yes,2.0,10+ Miles,North America,53.0,Yes

In [8]:
data = df.drop(['ID', 'Marital Status', 'Gender', 'Education', 'Occupation', 'Home Owner', 'Commute Distance', 'Region'], inplace=False, axis=1)
data.head()

KeyError: "['ID' 'Marital Status' 'Gender' 'Education' 'Occupation' 'Home Owner'\n 'Commute Distance' 'Region'] not found in axis"

In [ ]:
# delete data with NaN value
df.dropna(inplace=True)

In [ ]:
import sklearn
from sklearn.model_selection import train_test_split

# split into attribute and label
x = df[['Children', 'Cars']]
y = df['Purchased Bike']

# split the data into train and testing
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
len(x_test), len(x_train)

# Decision Tree

In [ ]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier

# create model
model_tree = DecisionTreeClassifier(criterion='entropy')
# training model
model_tree.fit(x_train, y_train)
# show tree
tree.plot_tree(model_tree)

In [ ]:
# Predict Model
pred_tree = model_tree.predict(x_test)

# Evaluate using dataset
accuracy = (pred_tree == y_test).sum()/len(y_test)
accuracy

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(pred_tree, y_test)
cm

In [ ]:
data2 = df[['ID','Marital Status', 'Gender', 'Region', 'Education', 'Occupation', 'Purchased Bike']]
data2

In [ ]:
d = {'Yes':True, 'No':False}
df['Purchased Bike'] = df['Purchased Bike'].map(d)

In [ ]:
from info_gain import info_gain

data2_atr = data2.columns
feature = data2_atr[0:-1]
print(feature)

In [ ]:
IG, IV, IGR = [], [], []

for i in feature:
    temp_ig = info_gain.info_gain(data2['Purchased Bike'], data2[i])
    temp_iv = info_gain.info_gain(data2['Purchased Bike'], data2[i])
    temp_igr = info_gain.info_gain(data2['Purchased Bike'], data2[i])
    print(f"{i} : \n Information Gain \t : {temp_ig} \n Interistict Value \t : {temp_iv} \n Information Gain Ratio  : {temp_igr}")
    IG.append(temp_ig)
    IV.append(temp_iv)
    IGR.append(temp_igr)