# Preproccessing

In [38]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv('Datasets/stara_class.csv')
df

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M
...,...,...,...,...,...,...,...
235,38940,374830.000000,1356.0000,-9.93,5,Blue,O
236,30839,834042.000000,1194.0000,-10.63,5,Blue,O
237,8829,537493.000000,1423.0000,-10.73,5,White,A
238,9235,404940.000000,1112.0000,-11.23,5,White,A
239,37882,294903.000000,1783.0000,-7.80,5,Blue,O

In [4]:
X = df.iloc[ :, :-1]
y = df.iloc[:, -1]

In [29]:
temp = X['Star color']
le = LabelEncoder()
temp_encoded = le.fit_transform(temp)

X['Star color'] = pd.DataFrame(temp_encoded).values
X

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color
0,3068,0.002400,0.1700,16.12,0,10
1,3042,0.000500,0.1542,16.60,0,10
2,2600,0.000300,0.1020,18.70,0,10
3,2800,0.000200,0.1600,16.65,0,10
4,1939,0.000138,0.1030,20.06,0,10
...,...,...,...,...,...,...
235,38940,374830.000000,1356.0000,-9.93,5,0
236,30839,834042.000000,1194.0000,-10.63,5,0
237,8829,537493.000000,1423.0000,-10.73,5,11
238,9235,404940.000000,1112.0000,-11.23,5,11
239,37882,294903.000000,1783.0000,-7.80,5,0

In [21]:
y = le.fit_transform(y)
y

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 1, 0,
       2, 0, 1, 2, 0, 2, 2, 2, 6, 1, 1, 1, 2, 0, 2, 2, 2, 2, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 2, 2, 0, 1, 1, 0, 1, 1,
       2, 1, 2, 4, 4, 4, 0, 0, 4, 2, 0, 6, 1, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       5, 5, 5, 5, 5, 5, 4, 5, 3, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 5, 5, 5, 1, 1, 1, 1, 1, 0, 1, 2, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 4, 1, 5, 5,
       6, 1, 1, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 6, 6, 0, 1, 1, 2,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 1, 6, 6, 1, 1, 6, 6, 0, 0, 6])

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =  0.2)

# Linear Regression

In [31]:
lnr = LinearRegression()
lnr.fit(X, y)

LinearRegression()

In [32]:
print("Intercept :" + str(lnr.intercept_))
print("Coefficient :" + str(lnr.coef_))

Intercept :10.851935874959716
Coefficient :[-9.42152387e-05  5.38923117e-06  5.31135489e-04 -2.73572206e-01
 -2.01323576e+00 -7.94781093e-02]

In [36]:
predict_X_lnr = lnr.predict(X)
print(predict_X_lnr)

[5.35820877 5.22933531 4.69644908 5.23845986 4.38666768 5.14438587
 5.09786326 5.05208976 5.03370783 5.41200878 4.78052818 4.52390306
 4.13486373 4.83527818 4.57109527 4.15377889 3.73416263 4.74174619
 4.04185653 4.66137376 1.416738   1.38650344 1.37804448 1.18358395
 1.85919068 1.06365392 1.89488527 0.94925236 1.07822682 1.57709544
 3.52865686 2.81667763 3.44501155 2.8232876  1.53359511 2.35935027
 2.16578194 2.05896875 1.6823018  1.55918225 4.62753745 5.22787987
 4.19815721 4.7378437  4.88450867 5.21057036 4.20898837 4.22612215
 4.5427921  2.48745938 4.49616191 3.91940793 4.24082323 5.91784209
 4.15210292 5.01427642 5.75200951 4.3715321  4.34601573 4.63774094
 5.30233507 5.09959583 5.37438385 5.15031872 4.61291569 5.06049379
 4.76242604 5.29153605 5.03844372 4.4712186  4.36397603 4.93573588
 4.1215744  4.48087483 4.73040818 4.52729132 4.08948258 4.48191268
 4.29257298 3.92193338 1.34817284 1.66664019 0.94265258 1.64004004
 2.00870426 1.93044206 2.21655716 2.57075646 0.71295476 1.77256976
 1.46033508 1.17580395 1.29412212 1.92327015 3.08955605 3.91198348
 2.41492618 2.06699733 3.19750899 3.68650783 2.73963385 5.12361899
 2.9113715  4.38149403 3.98035982 4.39837877 4.06314993 4.32946298
 3.00795898 3.16680388 3.81586486 3.88468503 4.69621377 4.07795428
 4.14161988 4.1583926  5.06321428 3.31763867 4.11378343 4.34313463
 5.04962693 4.26950283 4.277113   5.13196141 5.04286681 4.3831525
 5.16278372 5.21626117 4.43704525 4.85097722 4.7788543  4.87554988
 4.69621494 4.17322296 3.81760546 3.70357671 4.62589692 3.80409038
 4.38514009 3.79014913 1.66241279 1.69351419 1.60601982 2.03752735
 2.27314365 1.67823921 1.86059649 0.63949472 1.17198116 2.3710069
 3.66375494 3.54077981 3.57771741 3.7093362  3.14348947 2.84417738
 2.99331556 3.39893312 3.49460134 3.59550044 3.25848867 4.78948151
 5.62230723 5.4427323  5.2725694  4.80684535 3.33650453 2.99696238
 4.69120552 5.8551946  4.23893942 3.39696961 6.4360327  3.4204415
 3.73575256 3.36601577 2.99341493 3.84194499 2.33691983 2.19753549
 5.35587458 4.75168032 4.93117186 5.01028051 5.05925734 5.15344119
 5.00375216 5.16851322 4.47450493 5.25239745 4.5799513  4.80187456
 4.08244118 4.22500332 4.31166568 3.96637713 3.88519223 3.62755226
 4.23474498 3.67570727 1.72272264 2.08719478 2.06814958 2.03955778
 2.02808332 1.84639554 1.67623431 1.86488654 1.947281   1.82255361
 3.30413331 3.39460573 3.14243463 2.99899651 3.91277415 3.88673785
 3.12030943 3.41223987 3.45050258 2.95300073 3.61858719 5.35071311
 5.72473948 5.16453807 4.31720055 4.30790112 7.0968523  7.70999208
 4.15869583 6.84540921 3.30999404 1.91558112 5.21977759 5.01456735
 4.97746541 2.57385295 5.91734682 5.66758115 4.88657397 1.88687365]

# Logistic Regression

In [39]:
lor = LogisticRegression()
lor.fit(X_train, y_train)

/home/risqullah/Coding/machine-learning/venv/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [41]:
X_test.reset_index(drop=True, inplace=True)

In [43]:
predict_X_lor = lor.predict(X_test)
predict_X_lor = pd.DataFrame(predict_X_lor)

In [44]:
final = pd.concat([X_test, predict_X_lor], axis = 1, ignore_index = True)
final

        0              1           2       3  4   5  6
0    9373  424520.000000    24.00000  -5.990  4   0  6
1   19860       0.001100     0.01310  11.340  2   1  1
2    3607       0.000230     0.38000  10.340  1  10  1
3    3304       0.008500     0.18000  13.200  1  10  1
4   12098     689.000000     7.01000   0.020  3   6  1
5    2731       0.000437     0.08560  18.090  0  10  1
6   17200       0.000980     0.01500  12.450  2   2  1
7   17920       0.001110     0.01060  11.660  2   0  1
8   38940  374830.000000  1356.00000  -9.930  5   0  1
9   15680       0.001220     0.01140  11.920  2   0  1
10  19360       0.001250     0.00998  11.620  2   0  1
11   7230       0.000080     0.01300  14.080  2   9  1
12   3142       0.001320     0.25800  14.120  1  10  1
13   2935       0.000140     0.11600  18.890  0  10  1
14   2861       0.000190     0.08990  16.710  0  10  1
15  25390  223000.000000    57.00000  -5.920  4   0  6
16   9700      74.000000     2.89000   0.160  3  13  1
17   3340       0.003800     0.24000  13.070  1  10  1
18   3692       0.003670     0.47000  10.800  1  10  1
19   2778       0.000849     0.11200  19.450  0  10  1
20   3496       0.001250     0.33600  14.940  1  10  1
21   3323       0.000430     0.09120  17.160  0  10  1
22   4015  282000.000000  1534.00000 -11.390  5  10  5
23   3500  138000.000000  1420.00000  -8.180  5  10  5
24   3607       0.022000     0.38000  10.120  1  10  1
25   2856       0.000896     0.07820  19.560  0  10  1
26   8829  537493.000000  1423.00000 -10.730  5  11  5
27  23000  127000.000000    36.00000  -5.760  4   0  1
28   3523       0.000957     0.12900  16.350  0  10  1
29   3462       0.005300     0.14800  11.470  1  10  1
30   2835       0.000340     0.09180  16.960  0  10  1
31  11567  251000.000000    36.00000  -6.245  4   0  6
32  13720       0.000180     0.00892  12.970  2  16  1
33  13420       0.000590     0.00981  13.670  2   2  1
34   3463       0.002700     0.67500  14.776  1  10  1
35   3212       0.001600     0.37800  12.854  1  10  1
36   2968       0.000461     0.11900  17.450  0  10  1
37  24020       0.001590     0.01270  10.550  2   0  1
38   3450  174000.000000  1284.00000 -11.280  5  10  5
39  24490  248490.000000  1134.50000  -8.240  5   6  1
40   3270  150000.000000    88.00000  -6.020  4  10  6
41   8930       0.000560     0.00950  13.780  2  16  1
42   3511       0.000640     0.10900  17.120  0  10  1
43   7220       0.000170     0.01100  14.230  2  11  1
44   3749  550000.000000  1648.00000  -8.050  5   7  5
45   2817       0.000980     0.09110  16.450  0  10  1
46  23678  244290.000000    35.00000  -6.270  4   0  6
47   3441       0.039000     0.35100  11.180  1  10  1